/*xs*/
@media only screen and (max-width:575px){
    .container{
        margin: 0;
        padding:0;
    }
    h1{
        font-size: 6vw;
    }
    
    h3{
        font-size: 1vw;
    }
    
    p{
        font-size: 6vw;
    }
    img{
        padding: 10px;
        margin: 10px;
        width: 100%;
        height: 100%;
    }
}

/*s*/
@media only screen and (min-width: 576px) and (max-width: 767px){
    .container{
        margin: 2px;
        padding:2px;
        font-size: x-large;
    }
    h1{
        font-size: 10vw;
    }
    
    h3{
        font-size: 3vw;
    }
    
    p{
        font-size: 2vw;
    }
    img{
        padding: 10px;
        margin: 10px;
        width: 100%;
        height: 100%;
    }
}

/*m*/
@media only screen and (min-width: 768pxpx) and (max-width: 991px){
    .container{
        margin: 0 100px;
        padding:auto;
    }
    h1{
        font-size: 4vw;
    }
    
    h3{
        font-size: 1.2vw;
    }
    
    p{
        font-size: 1vw;
    }
    img{
        padding: 10px;
        margin: 10px;
        width: auto;
        height: 150%;
    }
}

/*l*/
@media only screen and (min-width:  992px){
    .container{
        margin: 0 200px;
        padding:auto;
    }
    h1{
        font-size: 3vw;
    }
    
    h3{
        font-size: 2vw;
    }
    
    p{
        font-size: 1.8vw;
    }
    img{
        padding: 10px;
        margin: 10px;
        width: auto;
        height: 150%;
    }
}