h1{
    font-size: 20vw;
}

p{
    font-size: 5vw;
}

img{
    padding: 10px;
    margin: 10px;
    width: auto;
    height: 100%;
}

/*xs*/
@media only screen and (max-width:575px){
    .container{
        margin: 0;
        padding:0;
        font-size: inherit;
    }
/*/navbar container and container*/
}

/*s*/
@media only screen and (min-width: 576px) and (max-width: 767px){
    .container{
        margin: 2px;
        padding:2px;
        font-size: x-large;
    }
}

/*m*/
@media only screen and (min-width: 768pxpx) and (max-width: 991px){
    .container{
        margin: 0 100px;
        padding:auto;
    }
}

/*l*/
@media only screen and (min-width:  992px){
    .container{
        margin: 0 200px;
        padding:auto;
    }
}